body {
    height: 1200px;
    padding-left: 97px;
    padding-top: 20px;
    padding-right: 10px;
    margin-top: 0px;
    background-color: #f9f9f9;

}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}