.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
    background-color: white;
    z-index: 100;
    margin-bottom: 0px;

}

.left-part {
    display: flex;
    align-items: center;
    padding-left: 12px;
    justify-content: center;
}

.middle-part {
    display: flex;
    flex: 1;
    margin-left: 60px;
    align-items: center;
    max-width: 470px;

}

.right-part {
    display: flex;
    width: 182px;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;


}

.search-bar {
    display: flex;
    flex: 1;
    height: 40px;
    padding-left: 12px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
    max-width: 400px;
    width: 0;
}

.hamburger-icon {
    width: 25px;
    height: 25px;
    border: none;
}

.hamburger-button {
    background-color: white;
    border: none;
    margin: 3px;
    padding-top: 5px;
    width: 40px;
    cursor: pointer;
}

.youtube-logo {
    width: 90px;
    height: auto;
    margin-left: 13px;
}

.search-logo {
    width: 20px;
    border: none;
    display: inline-block;

}

.search-button {
    width: 64px;
    height: 40px;
    padding: 6px;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    margin-right: 8px;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
}

.search-bar:focus {
    border: 1px solid rgb(14, 109, 234);
    outline: none;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238), 0 0 5px rgba(14, 109, 234, 0.5);
}

.search-bar::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.voice-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 2px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.voice-icon {
    width: 25px;
    padding-top: 5px;
}


.upload-icon {
    width: 24px;
    cursor: pointer;
}

.you-app-icon {
    width: 24px;
    cursor: pointer;
}

.notification-icon {
    width: 24px;
    cursor: pointer;
}

.profile-picture {
    width: 30px;
    border-radius: 18px;
    cursor: pointer;
}