.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
    background-color: white;
    z-index: 200;
    margin-bottom: 0px;
    overflow: visible;

}

.left-part {
    display: flex;
    align-items: center;
    padding-left: 12px;
    justify-content: center;
}

.middle-part {
    display: flex;
    flex: 1;
    margin-left: 60px;
    align-items: center;
    max-width: 470px;

}

.right-part {
    display: flex;
    width: 182px;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;


}

.search-bar {
    display: flex;
    flex: 1;
    height: 40px;
    padding-left: 12px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
    max-width: 400px;
    width: 0;
}

.hamburger-icon {
    width: 25px;
    height: 25px;
    border: none;
}

.hamburger-button {
    background-color: white;
    border: none;
    margin: 3px;
    padding-top: 5px;
    width: 40px;
    cursor: pointer;
}

.youtube-logo {
    width: 90px;
    height: auto;
    margin-left: 13px;
}

.search-logo {
    width: 25px;
    border: none;
    display: inline-block;

}

.search-button {
    width: 64px;
    height: 40px;
    padding: 6px;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    margin-right: 8px;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
}

.search-button,
.voice-button,
.upload-icon-box,
.you-app-icon-box,
.notification-icon-box,
.profile-picture-box,
.hamburger-button {
    position: relative;
    display: flex;
    justify-content: center;
}

.search-bar:focus {
    border: 1px solid rgb(14, 109, 234);
    outline: none;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238), 0 0 5px rgba(14, 109, 234, 0.5);
}

.search-bar::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.search-button:hover {
    background-color: rgba(211, 211, 211, 0.337);
}

.tooltip {
    position: absolute;
    bottom: -50px;
    background-color: rgba(0, 0, 0, 0.749);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 13px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-box:hover .tooltip,
.you-app-icon-box:hover .tooltip,
.notification-icon-box:hover .tooltip,
.profile-picture-box:hover .tooltip,
.hamburger-button:hover .tooltip {
    opacity: 1;

}



.voice-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 2px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.voice-icon {
    width: 25px;
    padding-top: 5px;
}


.upload-icon {
    width: 24px;
    cursor: pointer;
}

.you-app-icon {
    width: 24px;
    cursor: pointer;
}

.notification-icon {
    width: 24px;
    cursor: pointer;
}

.notification-icon-box {
    position: relative;
    padding-top: 6px;
}

.notification-number {
    position: absolute;
    background-color: rgb(199, 9, 9);
    top: 3px;
    right: -5px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    color: white;

}

.profile-picture {
    width: 30px;
    border-radius: 18px;
    cursor: pointer;
}