.sidebar {

    left: 0;
    bottom: 0;
    top: 50px;
    width: 70px;
    background-color: white;
    padding-top: 2px;
    z-index: 200;
    position: fixed;


}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    row-gap: 3px;
    height: 74px;
}

.sidebar-icon {
    width: 23px;

}

.sidebar-button {
    width: 25px;
    margin: 0 auto;
    border: none;
    background-color: white;
    cursor: pointer;
}

.sidebar-content:hover {
    background-color: rgba(211, 211, 211, 0.325);
}

.sidebar-content:hover .sidebar-button {
    background-color: rgba(211, 211, 211, 0.325);
}

.sidebar-title {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;

}